.nav-item{
    margin-left: 40px;
}
.ham-icon{
    font-size: 20px;
    cursor: pointer;
    margin-left: 40px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    transition: transform 0.5s ;
}
.ham-icon:hover{
    transform: scale(1.25); 
}